@{ ViewData["Title"] = "Visualizar Nota Fiscal";
    Layout = "~/Views/Shared/_LayoutModal.cshtml"; }

@section js {
    <script src="~/views/LancamentoIndust/indexVisualizar.js"></script>
}

@section css {
    <style>
        body {
            max-width: 800px;
            height: 550px;
        }
    </style>
    <link href="~/css/style-visualizar.css" rel="stylesheet" />
}

<section>
    <input type="hidden" id="hfIdNota" value="@ViewBag.IdNota" />
    <h1>Dados da Nota Fiscal</h1>
    <hr />
    <section class="flex">

        <div class="dados">
            <label>Número</label>
            <input value="@ViewBag.numero" disabled />
        </div>

        <div class="dados">
            <label>Série</label>
            <input value="@ViewBag.serie" disabled />
        </div>

        <div class="dados">
            <label>Data</label>
            <input value="@ViewBag.data" disabled />
        </div>

        <div class="dados">
            <label>Chave</label>
            <input value="@ViewBag.chave" disabled />
        </div>

        <div class="dados">
            <label>Valor Nota Fiscal</label>
            <input value="@ViewBag.valor_nf" disabled />
        </div>

    </section>
    <hr />
    <h1>Itens da Nota</h1>
    <hr />

    <div class="table-box" id="table">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Código</p>
            </div>
            <div class="table-cell first-cell">
                <p>Descrição</p>
            </div>
            <div class="table-cell">
                <p>Lote</p>
            </div>
            <div class="table-cell">
                <p>Qtd</p>
            </div>
            <div class="table-cell last-cell">
                <p>Valor Unit.</p>
            </div>
        </div>

    </div>

</section>
