@{ ViewData["Title"] = "Visualizar Nota Fiscal";
                Layout = "~/Views/Shared/_LayoutModal.cshtml"; }

@section js {
    <script src="~/views/LancamentoDist/indexVisualizar.js"></script>
}

@section css {

    <style>
        body {
            max-width: 800px;
            height: 550px;
        }
    </style>
    <link href="~/css/style-visualizar.css" rel="stylesheet" />
}

<section>

    <input type="hidden" id="hfIdNota" value="@ViewBag.IdNota" />
    <h1>Dados da Nota Fiscal</h1>
    <hr />

    <section class="flex">

        <div class="dados">
            <label>Número</label>
            <input value="@ViewBag.numero" disabled />
        </div>

        <div class="dados">
            <label>Série</label>
            <input value="@ViewBag.serie" disabled />
        </div>

        <div class="dados">
            <label>Data</label>
            <input value="@ViewBag.data" disabled />
        </div>

        <div class="dados">
            <label>Chave</label>
            <input value="@ViewBag.chave" disabled />
        </div>

        <div class="dados">
            <label>Valor Nota Fiscal</label>
            <input value="@ViewBag.valor_nf" disabled />
        </div>

    </section>

    <div class="warning" id="warning" style="display: none;"></div>
    <div class="info" id="info" style="display: none;"></div>
    <div class="error" id="error" style="display: none;"></div>

    <div class="opcoes">
        <div id="botaosalvar" style="display: none;">
            <input type="button" class="btn" value="Salvar" id="btnSalvar" onclick="index.btnSalvar()" />
        </div>

        <div id="btnCancelar" style="display: none;">
            <a class="iconepesq2" id="btnCancelar" href="javascript:index.btnCancelar()"><img class="fa fa-fw fa-times" /></a>
        </div>
    </div>
    

    <hr />
    <h1>Dados do Destino</h1>
    <hr />

    <section class="flex">

        <div class="dados">
            <label>Paciente</label>
            <input id="paciente" value="@ViewBag.paciente" disabled />
        </div>

        <div class="dados">
            <label>Data da Cirurgia</label>
            <input id="data_cirurgia" value="@ViewBag.data_cirurgia" disabled />
        </div>

        <div class="dados">
            <label>Médico</label>
            <input id="medico" value="@ViewBag.medico" disabled />
        </div>

        <div class="dados">
            <label>Convênio</label>
            <input id="convenio" value="@ViewBag.convenio" disabled />
        </div>

        <div class="dados">
            <label>Hospital</label>
            <input id="hospital" value="@ViewBag.hospital" disabled />
        </div>

    </section>

    <hr />
    <h1>Itens da Nota</h1>
    <hr />

    <div class="table-box" id="table">
        <div class="table-row table-head">
            <div class="table-cell first-cell">
                <p>Código</p>
            </div>
            <div class="table-cell first-cell">
                <p>Descrição</p>
            </div>
            <div class="table-cell">
                <p>Lote</p>
            </div>
            <div class="table-cell">
                <p>Qtd</p>
            </div>
            <div class="table-cell last-cell">
                <p>Valor Unit.</p>
            </div>
        </div>

    </div>

</section>
