@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextaccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Sistema Rastreamento</title>

    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

    <link href="~/css/navbar.css" rel="stylesheet" />

    @RenderSection("css", false)

</head>
<body>

    <div class="info-gerais" id="contato">
        <div class="info-contato">
            <a href="#">
                <i class='bx bxs-phone'></i>
                <strong>Suporte: (18) 3355-0000</strong>
            </a>

            <a href="mailto:">
                <i class='bx bx-paper-plane'></i>
                <strong>lenisis@lenisis.com.br</strong>
            </a>

        </div>
        <div class="formulario">
            <a href="#">
                <i class='bx bx-message-error'></i>
                <strong>Reporte um Problema </strong>
            </a>
        </div>

    </div>

    <div id="navbar">
        <div class="menu-responsivo">
            <a href="#" class="menu-bars" id="show-menu">
                <i class="fas fa-bars"></i>
            </a>
            <a href="/Default"><h1><img src="~/img/logo.png" alt="" />Rastro+</h1></a>
        </div>

        <nav id="nav-principal">

            <a href="/Default" >
                <i class="fas fa-home nav-icon"></i>
                <p>Inicio</p>
            </a>
            @{
                if (httpContextaccessor.HttpContext.User.Claims.ToList()[1].Value == "Indústria")
                {
                    <a href="/LancamentoIndust">
                        <i class="fas fa-rocket nav-icon"></i>
                        <p>Lançamentos</p>
                    </a>
                    <a href="/Rastrear">
                        <i class="fas fa-search-location nav-icon"></i>
                        <p>Rastrear</p>
                    </a>

                }
                else
                {
                    <a href="/LancamentoDist">
                        <i class="fas fa-rocket nav-icon"></i>
                        <p>Lançamentos</p>
                    </a>
                    <a href="/Rastrear">
                        <i class="fas fa-search-location nav-icon"></i>
                        <p>Rastrear</p>
                    </a>
                }
            }
            <a href="/Login/Sair">
                <i class="fas fa-sign-out-alt nav-icon"></i>
                <p>Sair</p>
            </a>
        </nav>
    </div>

    <nav id="nav-menu">
        <ul class="nav-menu-items">
            <div id="navbar-toggle">
                <a href="#" class="menu-bars" id="hide-menu">
                    <i class='bx bxs-arrow-to-left nav-icon'></i>
                </a>
                <a href="/Default"><h1><img src="~/img/logo.png" alt="" />Rastro+</h1></a>
            </div>
            <div class="rolagem">
                <hr />
                <div class="title-opcoes">
                    <a href="#"><h1><i class="fas fa-folder-plus"></i>Gerenciar</h1></a>
                </div>
                <hr />
                <div class="nav-section">
                    @{
                        if (httpContextaccessor.HttpContext.User.Claims.ToList()[1].Value == "Indústria")
                        {
                            <li class="nav-text"><a href="/CadastroProdIndust"><i class="fas fa-box nav-icon"></i>Produto</a></li>
                            <li class="nav-text"><a href="/CadastroIndustria"><i class="far fa-building nav-icon"></i>Indústria</a></li>
                            <li class="nav-text"><a href="/CadastroDistribuidor"><i class="fas fa-truck nav-icon"></i>Distribuidor</a></li>
                        }
                        else
                        {
                            <li class="nav-text"><a href="/CadastroProdDist"><i class="fas fa-box nav-icon"></i>Produtos</a></li>
                        }
                    }

                </div>
                <hr />
                <div class="title-opcoes">
                    <a href="#"><h1><i class="fas fa-print"></i>Relatórios</h1></a>
                </div>
                <hr />
                <div class="nav-section">
                    @{
                        if (httpContextaccessor.HttpContext.User.Claims.ToList()[1].Value == "Indústria")
                        {
                            <li class="nav-text"><a href="javascript:btnReportVendaDistribuidor()"><i class="far fa-file-pdf nav-icon"></i>Distribuidores</a></li>
                            <li class="nav-text"><a target="_blank" href="/Relatorio/ReportProdIndust"><i class="far fa-file-pdf nav-icon"></i>Produtos</a></li>
                            <li class="nav-text"><a href="javascript:btnReportVendaIndust()"><i class="far fa-file-pdf nav-icon"></i>Vendas</a></li>

                        }
                        else
                        {
                            <li class="nav-text"><a href="javascript:btnReportProdIndust()"><i class="far fa-file-pdf nav-icon"></i>Produtos</a></li>
                            <li class="nav-text"><a href="javascript:btnReportVendaDist()"><i class="far fa-file-pdf nav-icon"></i>Vendas</a></li>
                            <li class="nav-text"><a target="_blank" href="/Relatorio/ReportEstoqueDist"><i class="far fa-file-pdf nav-icon"></i>Estoque</a></li>
                        }
                    }

                </div>
            </div>
        </ul>
    </nav>





    <section id="introSimples"></section>

    <main id="main">

        @RenderBody()

    </main>

    <br />
    <footer class="footer" id="footer">
        <div class="footer-left">
            <img src="~/img/logo.png" alt="" />
            <p>Rastro+ um software para auxiliar de forma prática sua empresa no dia-a-dia</p>
            <br />
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <ul class="footer-right">
            <li>
                <h2>Produtos</h2>

                <ul class="box">
                    <li><a href="#">Controle Financeiro</a></li>
                    <li><a href="#">Controle de Estoque</a></li>
                    <li><a href="#">Frente de Caixa</a></li>
                    <li><a href="#">Produção Industrial</a></li>
                    <li><a href="#">Rastreabilidade Lote</a></li>
                    <li><a href="#">Obrigações Fiscais</a></li>
                </ul>
            </li>
            <li class="features">
                <h2>Valores</h2>

                <ul class="box">
                    <li><a href="#">Ética</a></li>
                    <li><a href="#">Qualidade</a></li>
                    <li><a href="#">Compromisso</a></li>
                    <li><a href="#">Confidenciabilidade</a></li>
                    <li><a href="#">Honestidade</a></li>
                    <li><a href="#">Cordialidade</a></li>
                </ul>
            </li>
            <li>
                <h2>Endereço</h2>

                <ul class="box">
                    <li><a href="#">Rua Odécio Henrique de Mello, 175</a></li>
                    <li><a href="#">Pres Prudente-SP</a></li>
                    <li><a href="#">CEP 19.028-030</a></li>
                    <li><a href="#">Fones: (18) 3355-0000 - 98134-2600</a></li>
                    <li><a href="#">lenisis@lenisis.com.br</a></li>
                </ul>
            </li>
        </ul>

        <div class="footer-bottom">
            <p>All right reserved by &copy;conceptial 2020</p>
        </div>
    </footer>


    <script src="~/views/Shared/index.js"></script>
    <script src="~/views/Relatorio/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    @RenderSection("Scripts", required: false)
    @RenderSection("js", false)

</body>
</html>