@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextaccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"] - Sistema Rastreamento</title>
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!-- <title>Responsive Drop-down Menu Bar</title> -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link href="~/css/navbar.css" rel="stylesheet" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    @RenderSection("css", false)

</head>
<body>
    <nav>
        <div class="logo">
            Rastro+
        </div>
        <label for="btn" class="icon">
            <span class="fa fa-bars"></span>
        </label>
        <input type="checkbox" id="btn">
        <ul>
            <li><a href="/Default"><i class="fas fa-home"></i>Home</a></li>
            <li onclick="openmenu();">
                <label for="btn-1" class="show"><i class="fas fa-folder-plus"></i>Cadastros<i class="fas fa-sort-down"></i></label>
                <a href="#"><i class="fas fa-folder-plus"></i>Cadastros<i class="fas fa-sort-down"></i></a>
                <input type="checkbox" id="btn-1">
                <ul id="habilitaCad">
                    @{ if (httpContextaccessor.HttpContext.User.Claims.Count() > 0)
                        {
                            if (httpContextaccessor.HttpContext.User.Claims.ToList()[1].Value == "Indústria")
                            {
                                <li><a href="/CadastroProdIndust"><i class="fas fa-box"></i>Produto</a></li> }
                            else
                            {
                                <li><a href="/CadastroProdDist"><i class="fas fa-box"></i>Produto</a></li> }

                             }
                        else
                        {
                            <li><a href="/CadastroProdIndust"><i class="fas fa-box"></i>Produto</a></li> 
                        } 
                      }
                    <li><a href="/CadastroIndustria"><i class="far fa-building"></i>Indústria</a></li>
                    <li><a href="/CadastroDistribuidor"><i class="fas fa-truck"></i>Distribuidor</a></li>
                </ul>
            </li>

            @{ if (httpContextaccessor.HttpContext.User.Claims.Count() > 0)
                {
                    if (httpContextaccessor.HttpContext.User.Claims.ToList()[1].Value == "Indústria")
                    {
                        <li><a href="/LancamentoIndust"><i class="fas fa-rocket"></i>Lançamentos</a></li>
                    }
                    else
                    {
                        <li><a href="/LancamentoDist"><i class="fas fa-rocket"></i>Lançamentos</a></li>
                    }
                }
                else
                {
                    <li><a href="/LancamentoIndust"><i class="fas fa-rocket"></i>Lançamentos</a></li>
                }
            }

            <li onclick="openRel();">
                <label for="btn-2" class="show"><i class="fas fa-newspaper"></i>Relatórios <i class="fas fa-sort-down"></i></label>
                <a href="#"><i class="fas fa-newspaper"></i>Relatórios <i class="fas fa-sort-down"></i></a>
                <input type="checkbox" id="btn-2">
                <ul id="habilitaRel">
                    <li><a href="/Relatorio/RelVendaIndust">Venda/Indústria</a></li>
                    <li><a href="/Relatorio/RelVendaDist">Venda/Dist.</a></li>
                    <li><a href="/Relatorio/RelVendaIndust">Estoque/Dist.</a></li>
                </ul>
            </li>
            <li><a href="#"><i class="fas fa-search-location"></i>Rastrear</a></li>

            @{ if (httpContextaccessor.HttpContext.User.Claims.Count() > 0)
               {
                    <li onclick="openUser();">
                        <label for="btn-3" class="show"><i class="fas fa-user-tie"></i>@httpContextaccessor.HttpContext.User.Claims.ToList()[1].Value <i class="fas fa-sort-down"></i></label>
                        <a href="#"><i class="fas fa-user-tie"></i>@httpContextaccessor.HttpContext.User.Claims.ToList()[1].Value<i class="fas fa-sort-down"></i></a>
                        <input type="checkbox" id="btn-3">
                        <ul id="habilitaUser">
                            <li><a href="/Login/Sair"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
                        </ul>
                    </li> 
               }
               else
               {
                    <li><a href="/Login" class="ativa"><i class="fas fa-sign-in-alt"></i>Entrar</a></li> 
               } 
            }

        </ul>
    </nav>

    <section id="introSimples"></section>

    <main id="main">

        @RenderBody()

    </main>

    <br />
    <footer class="footer">
        <div class="footer-left">
            <img src="~/img/logo.png" alt="" />
            <p>Rastro+ um software para auxiliar de forma prática sua empresa no dia-a-dia</p>
            <br />
            <div class="socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </div>

        <ul class="footer-right">
            <li>
                <h2>Produtos</h2>

                <ul class="box">
                    <li><a href="#">Controle Financeiro</a></li>
                    <li><a href="#">Controle de Estoque</a></li>
                    <li><a href="#">Frente de Caixa</a></li>
                    <li><a href="#">Produção Industrial</a></li>
                    <li><a href="#">Rastreabilidade Lote</a></li>
                    <li><a href="#">Obrigações Fiscais</a></li>
                </ul>
            </li>
            <li class="features">
                <h2>Valores</h2>

                <ul class="box">
                    <li><a href="#">Ética</a></li>
                    <li><a href="#">Qualidade</a></li>
                    <li><a href="#">Compromisso</a></li>
                    <li><a href="#">Confidenciabilidade</a></li>
                    <li><a href="#">Honestidade</a></li>
                    <li><a href="#">Cordialidade</a></li>
                </ul>
            </li>
            <li>
                <h2>Endereço</h2>

                <ul class="box">
                    <li><a href="#">Rua Odécio Henrique de Mello, 175</a></li>
                    <li><a href="#">Pres Prudente-SP</a></li>
                    <li><a href="#">CEP 19.028-030</a></li>
                    <li><a href="#">Fones:(18) 3355-0000 - 98134-2600</a></li>
                    <li><a href="#">lenisis@lenisis.com.br</a></li>
                </ul>
            </li>
        </ul>

        <div class="footer-bottom">
            <p>All right reserved by &copy;conceptial 2020</p>
        </div>
    </footer>

    <script src="~/views/Shared/index.js"></script>
    <script>
        $('.icon').click(function () {
            $('span').toggleClass("cancel");
        });
    </script>
    @RenderSection("Scripts", required: false)
    @RenderSection("js", false)

</body>
</html>