@{ ViewData["Title"] = "Visualizar Distribuidor";
                Layout = "~/Views/Shared/_LayoutModal.cshtml"; }

@section css {
    <style>
        body {
            max-width: 800px;
            height: 550px;
        }
    </style>
}

<section>
    <h1>Dados do Distribuidor</h1>
    <hr />
    <section class="flex">

        <div class="dados">
            <label>CNPJ</label>
            <input value="@ViewBag.cnpj" disabled />
        </div>

        <div class="dados">
            <label>IE</label>
            <input value="@ViewBag.ie" disabled />
        </div>

        <div class="dados">
            <label>Nome</label>
            <input value="@ViewBag.nome" disabled />
        </div>

        <div class="dados">
            <label>Representante</label>
            <input value="@ViewBag.representante" disabled />
        </div>

        <div class="dados">
            <label>Telefone</label>
            <input value="@ViewBag.telefone" disabled />
        </div>

    </section>
    <h1>Endereço</h1>
    <hr />
    <section class="flex">

        <div class="dados">
            <label>Rua</label>
            <input value="@ViewBag.rua" disabled />
        </div>

        <div class="dados">
            <label>Número</label>
            <input value="@ViewBag.numero" disabled />
        </div>

        <div class="dados">
            <label>Bairro</label>
            <input value="@ViewBag.bairro" disabled />
        </div>

        <div class="dados">
            <label>UF</label>
            <input value="@ViewBag.uf" disabled />
        </div>

        <div class="dados">
            <label>Cidade</label>
            <input value="@ViewBag.cidade" disabled />
        </div>

    </section>
    <h1>Usuário</h1>
    <hr />
    <section class="flex">
        <div class="dados">
            <label>Perfil</label>
            <input value="@ViewBag.perfil" disabled />
        </div>

        <div class="dados">
            <label>Email</label>
            <input value="@ViewBag.email" disabled />
        </div>
    </section>

</section>